.footer {
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    padding: 50px 20px;
    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        .left-sec {
            .footer-title {
                color: #fff;
                font-size: unquote("clamp(0.9rem, 1vw + 1rem, 8rem)");
                text-transform: capitalize;
                font-size: 700;
            }
            .email {
                padding: 20px 0px;
                font-size: unquote("clamp(0.9rem, .5vw + 1rem, 8rem)");
                color: #fff;
                i {
                    color: #fff;
                    margin-right: 10px;
                }
            }
            .links {
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 40px;
                a {
                    display: inline-block;
                    text-decoration: none;
                    i {
                        font-size: unquote("clamp(0.9rem, 1vw + 1rem, 8rem)");
                        color: #fff;
                    }
                }
            }
        }
        .right-sec {
            padding: 0px 20px;
            .footer-title {
                color: #fff;
                font-size: unquote("clamp(0.9rem, 1vw + 1rem, 8rem)");
                text-transform: capitalize;
                font-size: 700;
                padding-bottom: 10px;
            }
            .form {
                width: unquote("clamp(200px, 20vw + 10rem, 500px)");
                .form-control {
                    width: 100%;
                    input {
                        width: 100%;
                        border: 1px solid transparent;
                        border-radius: 3px;
                        padding: 5px 0px;
                        text-indent: 10px;
                        font-size: unquote("clamp(0.9rem, .5vw + .8rem, 5rem)");
                    }
                    textarea {
                        width: 100%;
                        border: 1px solid transparent;
                        border-radius: 3px;
                        padding: 5px 0px;
                        text-indent: 10px;
                        font-size: unquote("clamp(0.9rem, .5vw + .8rem, 5rem)");
                        margin-top: 20px;
                        min-height: 150px;
                    }
                    .send-email {
                        width: 100%;
                        font-size: unquote("clamp(0.9rem, .5vw + .8rem, 5rem)");
                        text-transform: capitalize;
                        background: #ff5306;
                        color: #fff;
                        padding: 5px;
                        margin-top: 10px;
                        border: 0px;
                        border-radius: 3px;
                        font-weight: 700;
                        cursor: pointer;
                        i {
                            padding: 0px 10px;
                        }
                    }
                }
            }
        }
    }
}